
.buffer {
    padding-bottom: 2.5rem;
}

.footer_container {
    background-color: #3d3d3d;
    height: 10rem;
}

.footer_container img {
    margin-top: 1.5rem;
    width: 150px;
}

.footer_container .fab {
    font-size: 1.5rem;
    color: white;
    margin: 1rem;
}

.container{
    text-align: center;
}