.map_container{
    background-image: url(../images/atrium.svg);
    border-radius: 20px;
    border: solid #D8D8D8 10px;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    margin: 10rem;
    margin-top: 2rem;
    margin-bottom: 0;
    height: 30rem;
}

.map_title{
    background-image: linear-gradient(#73d5f1, #4b88cb);
    border-radius: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 12rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    margin: 0;
    position: relative;
    top: -25px;
    left: -25px;
}


.map_legend{
    background-color: #EFEFEF;
    border-radius: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    width: 15rem;
    height: 28rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: left;
    margin: 0;
    position: absolute;
    right: -12px;
    top: 35rem;
    margin-right: 11.5rem;
    color: #7F7F7F;
}

.stat{
    background: -webkit-linear-gradient(#63b6d9, #39679f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.stat .fas{
    background: -webkit-linear-gradient(#63b6d9, #39679f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.7rem; 
}
.map_icons {
    text-align: right;
}
.map_icons .fas{
    background: -webkit-linear-gradient(#63b6d9, #39679f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    transition: all 0.25s ease;
}
.map_icons .fas:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.details{
    margin-bottom: 8.6rem;
    font-size: 0.2rem;
}