.nav_logo{
    height: 80px;
}

.nav_banner{
    background-color: #D8D8D8;
    display: table-cell;
    vertical-align: middle;
    padding: 0 5rem 0 5rem;
    margin: 0;
}
.nav_banner a{
    color: #7F7F7F;
    padding-left: 0.1rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
}

.nav_link{
    transition: all 0.25s ease;
}

nav .navbar .navbar-expand-lg .navbar-light .b_color{
    background-color: red;
}

.nav-item{
    margin: 0 4rem 0 4rem;
}

.buffer {
    padding-bottom: 8rem;
}