.map_container{
    background-image: url(../images/atrium.svg);
    border-radius: 20px;
    border: solid white 15px;
    box-shadow: 0 0 25px grey;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    margin: 10rem;
}

#heatmapContainer {
    height: 445px;
    width: 840px;
}