.nav_container{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: grey;
    margin-top: 1rem;
}

hr {
    width: 50%;
}

.nav_container p{
    display: inline-block;
    margin-right: 2.2rem;
    margin-left: 2.2rem;
    transition: all 0.3s ease;
}

.nav_container p:hover{
    color: #477fbe;
    cursor: pointer;
}



